@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide leading-6
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold text-white
    }
    .section {
        @apply py-12 lg:py-32;
    }

    .section-title {
        @apply text-3xl lg:text-4xl font-medium lg:font-extrabold mb-5;
    }

    .subtitle {
        @apply text-base text-paragraph mb-16 lg:mb-24 max-w-[520px];
    }
    li {
        @apply cursor-pointer
    }
    .btn {
        @apply py-4 px-7 font-medium text-white flex items-center justify-center rounded-sm hover:bg-[925a2b] transition-all;
    }

    .btn-lg {
        @apply h-[54px];
    }

    .btn-md {
        @apply h-[48px];
    }
    .input {
        @apply bg-secondary text-paragraph h-[60px] outline-none pl-6 w-full  text-[15px] rounded-sm focus:outline focus:outline-1 focus:outline-accent;
    }

    .textarea {
        @apply bg-secondary resize-none w-full outline-none p-6 rounded-sm h-[200px] focus:outline focus:outline-1 focus:outline-accent;
    }
    .active {
        @apply text-[925a2b];
    }
}

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

.debug{
    border: 1px red solid;
}